<app-auth-layout>
  <header class="flex flex-col items-center gap-4 text-center">
    <h1 class="text-2xl font-bold text-gray-900 tracking[-1px]">
      Log in to your account
    </h1>

    <p class="space-x-2">
      <span class="text-gray-700 tracking-[-0.5px]">New here?</span>

      <a
        routerLink="/register"
        class="tracking-[-0.5px] font-medium text-teal-900"
      >
        Create an account
      </a>
    </p>
  </header>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="handleSubmit()"
    class="mt-[60px] flex flex-col gap-4"
  >
    <app-input
      formControlName="email"
      inputName="email"
      type="email"
      placeholder="Email"
    />

    <app-input
      formControlName="password"
      inputName="password"
      type="password"
      placeholder="Password"
    />

    <app-button type="submit" className="mt-2" [isLoading]="isLoading">
      Log in
    </app-button>
  </form>
</app-auth-layout>
